@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  background: rgb(0, 0, 0,0.9);
  min-height: 100vh;
  padding: 0 1rem;
  font-family: "Montserrat", sans-serif;
  color: #e8eaed;
}
header {
  font-size: calc(1rem + 1.2vw);
  color: rgba(78, 78, 78, 0.781);
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  letter-spacing: 5px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button,
button {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background: rgba(3, 3, 3, 0.507);
  border: 1px solid rgba(0, 0, 0, 0.884);
  color: #e8eaed8a;
}
.todo-input {
  padding-left: 20px;
  border-radius: 2px 0 0 2px;
  letter-spacing: 1px;
  color: #e8eaed;

  /* width: 100%; */
}
.todo-input:focus {
  outline: none;
  border: 1px solid rgba(255, 166, 0, 0.76);
  box-shadow: 0 0 55px orange;
}
form button {
  color: #646464;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  display: grid;
  justify-content: center;
  font-size: 2rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0 2px 2px 0;
}
form button:hover {
  background: orange;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.473);
}

/* AUFGABE */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  margin-top: 3em;
  list-style: none;
  min-width: 45%;
}
.todo {
  display: flex;
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
  background: rgba(3, 3, 3, 0.507);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  letter-spacing: 2px;
  color: #e8eaed;
}

.todo-item {
  padding: 0 1rem;
  width: 70%;
  flex: 1;
}
.trash-btn,
.completed-btn {
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease;
  background: rgba(3, 3, 3, 0.507);
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: #646464;
  align-self: flex-end;
}
.completed-btn {
  padding: 0.2rem 0.8rem;
}

.completed-btn:hover {
  background: hsla(128, 74%, 40%, 0.52);
  color: #fff;
}
.trash-btn:hover {
  background: rgba(255, 5, 5, 0.5);
  color: #fff;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  opacity: 0;
  transform: translateY(8rem) rotateZ(20deg);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: rgba(3, 3, 3, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #e8eaed;

  padding: 0.5rem;
}
.select {
  display: flex;
}
.list-grid {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e8eaed;
}
.list-grid h3 {
  margin: 1em;
  font-size: 1rem;
  color: #e8eaed;
  font-variant: small-caps;
}
