@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --clr-1: #1e90ff;
  --clr-2: #1e90ff;
  --clr-3: rgb(153, 153, 153);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  max-width: 90rem;
  margin: 0 auto;
}
.dark {
  background: rgba(20, 20, 20, 0.945);
}
header {
  display: flex;
  justify-content: center;
  /* align-items: center;
  font-family: "Exo 2", sans-serif; */
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 62%);
  padding: 2rem;
  letter-spacing: 3px;
}
h1 {
  font-size: calc(1.5rem + 2vw);
  color: rgb(115 114 114 / 65%);
  font-family: "Bebas Neue";
  font-weight: normal;
  border-bottom: 3px solid #1e90ff2e;
}
/*** Eingabefeld und Button zum erstellen von Aufgaben ***/
form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(15, 15, 15, 0.8);
  width: min-content;
  margin: 2rem auto 3rem;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.todo-input {
  letter-spacing: 3px;
  padding: 1rem;
  padding-left: 20px;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: var(--clr-2);
  outline: none;
}
form:hover {
  outline: none;
  box-shadow: 8px 0 70px var(--clr-2);
  transform: scale(1.05);
  border: 2px solid var(--clr-2);
}
/*** Button zum erstellen einer neuen Aufgabe ***/
form button {
  color: #646464;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  height: 55px;
  background: transparent;
  border: none;
}
button {
  color: #646464;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  display: grid;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.7);
  border: none;
}
button:hover {
  color: #fff;
}
input:hover {
  color: #fff;
}
/*************** GRID Container ****************/

.basic-grid {
  display: grid;
  gap: 1rem;
  margin: 3rem 0;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #181818;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem; /*,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  width: 100%;
  border-radius: 4px;
  transition: all 0.4s ease;
  overflow: hidden;
  justify-content: space-between;
  padding-left: 0.5rem;
  word-break: break-all;
  height: max-content;
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.65em 1.175em; */
}

.card:hover {
  box-shadow: var(--clr-3) 0px 0px 2em;
  transform: scale(1.05);
  border: 2px solid var(--clr-3);
}
.card-text {
  flex: 1;
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding: 1rem;
}
.card-text:focus {
  outline: none;
  border: none;
}

.fall {
  opacity: 0;
  transform: scale(0%);
}
/* BUTTONS zum Löschen oder als erledigt markieren */
.completed-btn,
.trash-btn {
  border: none;
  height: 45px;
  width: 10%;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.4s ease;
  background: rgba(3, 3, 3, 0.607);
  color: #646464;
  align-self: flex-start;
  border: none;
  margin: 4px 3px 0 0;
}
.completed-btn:hover {
  background: hsla(128, 74%, 40%, 0.52);
  color: #fff;
}
.trash-btn:hover {
  background: rgba(255, 5, 5, 0.5);
  color: #fff;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 1rem;
  color: #646464;
  height: 34px;
  align-self: center;
  padding-left: 0.5rem;
}
.select {
  display: flex;
  color: #e8eaed;
}
select:hover {
  color: #fff;
}
.list-grid {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}
.list-grid h3 {
  margin: 0.5rem;
  font-size: 0.7rem;
  color: rgb(107, 107, 107);
  text-transform: uppercase;
  letter-spacing: 2px;
}
/***************** TOGGLE Elemente **************/
.listen-ansicht {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  justify-content: center;
  margin: 2rem auto;
}
.light-mode {
  background-color: #fff;
  color: #181818;
}
