@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(63, 227, 251);
  background: radial-gradient(
    circle,
    rgba(63, 227, 251, 1) 0%,
    rgba(70, 252, 130, 1) 100%
  );
  font-family: "Bebas Neue", cursive;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
header {
  font-size: calc(1rem + 1.5vw);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(14, 85, 55, 0.664);
  outline-offset: 3px;
  max-width: 30rem;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
.todo-input {
  border: none;
  width: 100%;
}
.todo-input:focus {
  border: none;
  outline: none;
}
form button {
  color: #646464;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  border-left: 1px solid #1bb32f;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
button span {
  font-weight: bold;
  padding: 0 5px;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 35rem;
  margin-top: 1em;
  list-style: none;
}
.todo {
  display: flex;
  margin: 1em;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5em;
  border: 2px solid #2dd5db4d;
  box-shadow: 0 5px 5px #2dd5db4d;
  border-radius: 3px;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: red;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
}
.complete-btn {
  background: #1bb32faf;
  margin-right: 3px;
}
